/* ベーススタイル */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

header, footer {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2c3e50;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* 月給入力部分 */
input[type="number"] {
    width: 20%; /* 幅を20%に設定 */
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

/* 計算ボタン */
button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 5px;
}

button:hover {
    background-color: #2980b9;
}

.result {
    margin-top: 20px;
    text-align: left;
}

.result h2, .result h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.result p {
    margin-bottom: 5px;
}

/* ダークモードのスタイル */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    box-shadow: none;
}

body.dark-mode h1, 
body.dark-mode .result h2, 
body.dark-mode .result h3 {
    color: #ffffff;
}

body.dark-mode input[type="number"],
body.dark-mode button {
    background-color: #333;
    border: 1px solid #555;
    color: #fff;
}

body.dark-mode button:hover {
    background-color: #444;
}

/* モバイル対応のためのメディアクエリ */
@media (max-width: 600px) {
    body {
        margin: 10px;
    }

    .container {
        margin: 0 10px;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    label, input, button {
        font-size: 1em;
    }

    input, button {
        margin-top: 10px;
    }

    .result {
        margin-top: 20px;
    }
}
