body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    margin-bottom: 20px;
    color: #333;
}

#result {
    font-size: 1rem;
    display: none;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #495057;
    color: #ffffff;
}

.dark-mode .alert {
    background-color: #6c757d;
    color: #ffffff;
}
